<?xml version="1.0"?>

<configuration>
  
  <configSections>
    
  </configSections>
<connectionStrings>

  <add name="Pizzaria.Properties.Settings.conexaoUm" connectionString="Dsn=PostgreSQL35W;uid=postgres"
        providerName="System.Data.Odbc" />


</connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
